google-api-python-client 
google-auth
langchain
langchain-openai 
langchain-text-splitters
faiss-cpu 
sentence-transformers
langchain_community
langchain_classic
langchain_huggingface
python-dotenv
PyPDF2
python-docx
langgraph
langgraph-checkpoint-sqlite
tavily-python
pandas
langsmith
fastapi
uvicorn 
jinja2
python-multipart
langfuse